{% block sw_settings_search_search_index %}
<mt-card
    position-identifier="sw-settings-search-search-index"
    :title="$t('sw-settings-search.generalTab.labelSearchIndex')"
    :is-loading="isLoading"
>
    {% block sw_settings_search_search_index_description %}
    <mt-banner
        v-if="isRebuildInProgress"
        class="sw-settings-search__search-index-warning-text"
        variant="attention"
        :title="$t('sw-settings-search.generalTab.textWarningOpenTab')"
    >
        {# @deprecated tag:v6.8.0 - Will be removed. #}
        {% block sw_settings_search_search_index_warning_top %}
        {% endblock %}

        {% block sw_settings_search_search_index_warning_bottom %}
        {{ $t('sw-settings-search.generalTab.textRebuildSearchIndexDescription') }}
        {% endblock %}
    </mt-banner>
    {% endblock %}

    {% block sw_settings_search_search_index_rebuild_button %}
    <mt-button
        class="sw-settings-search__search-index-rebuild-button"
        variant="primary"
        :disabled="isRebuildInProgress || !acl.can('product_search_config.editor')"
        :is-loading="isRebuildInProgress"
        @click="rebuildSearchIndex"
    >
        {{ $t('sw-settings-search.generalTab.buttonRebuildSearchIndex') }}
    </mt-button>

    {% block sw_settings_search_search_index_lastest_build %}
    <span class="sw-settings-search__search-index-latest-build">
        <template v-if="latestIndex">
            {{ $t('sw-settings-search.generalTab.textLastedBuild') }} <sw-time-ago
                :date="latestIndex.lastDate"
                :date-time-format="{ month: '2-digit', day: '2-digit' }"
            />
        </template>

        <template v-else>
            {{ $t('sw-settings-search.generalTab.textSearchNotIndexedYet') }}
        </template>
    </span>
    {% endblock %}
    {% endblock %}

    {% block sw_settings_search_search_index_rebuild_progress %}
    <div
        v-if="progressBarValue"
        class="sw-settings-search__search-index-rebuilding-progress"
    >
        {# @deprecated tag:v6.8.0 - Will be removed. #}
        {% block sw_settings_search_search_index_rebuild_progress_text %}
        {% endblock %}

        {% block sw_settings_search_search_index_rebuild_progress_bar %}
        <mt-progress-bar
            :label="$t('sw-settings-search.generalTab.textRebuildingSearchIndex')"
            :model-value="progressBarValue"
            :max-value="100"
        >
            {{ $t('sw-settings-search.generalTab.textRebuildingSearchIndex') }}
        </mt-progress-bar>
        {% endblock %}
    </div>
    {% endblock %}
</mt-card>
{% endblock %}
