{% block sw_settings_search_view_live_search_card %}
<mt-card
    class="sw-settings-search-live-search"
    position-identifier="sw-settings-search-live-search"
    :title="$t('sw-settings-search.liveSearchTab.titleCard')"
>
    {% block sw_settings_search_view_live_search_rebuild_index_row %}
    <div class="sw-settings-search-live-search__rebuild-index-row">
        {% block sw_settings_search_view_live_search_description %}
        <div class="sw-settings-search-live-search__description">
            {{ $t('sw-settings-search.liveSearchTab.textDescription') }}
        </div>
        {% endblock %}

        {% block sw_settings_search_view_live_search_show_example_link %}
        <mt-link
            as="button"
            class="sw-settings-search-live-search__show-example-link"
            @click="onShowExampleModal"
        >
            {{ $t('sw-settings-search.generalTab.linkExample') }}
        </mt-link>
        {% endblock %}

        {% block sw_settings_search_searchable_show_example_modal %}
        <sw-settings-search-example-modal
            v-if="showExampleModal"
            @modal-close="onCloseExampleModal"
        />
        {% endblock %}
    </div>
    {% endblock %}

    {% block sw_settings_search_view_live_search_sales_channel %}
    <sw-single-select
        class="sw-settings-search-live-search__sales-channel-select"
        value-property="id"
        label-property="translated.name"
        :placeholder="$t('sw-settings-search.liveSearchTab.textPlaceholderSalesChannel')"
        :label="$t('sw-settings-search.liveSearchTab.labelSalesChannelSelect')"
        :value="salesChannelId"
        :options="salesChannels"
        show-clearable-button
        @update:value="changeSalesChannel"
    />
    {% endblock %}

    {% block sw_settings_search_view_live_search_input %}
    <sw-container
        class="sw-settings-search-live-search__search-container"
        columns="1fr calc(var(--scale-size-224) + var(--scale-size-26))"
        gap="var(--scale-size-16)"
    >
        <sw-simple-search-field
            v-model:value="liveSearchTerm"
            class="sw-settings-search-live-search__search_box"
            variant="form"
            :delay="1000"
            :disabled="!isSearchEnable || undefined"
            @search-term-change="searchOnStorefront"
        >
            {# @deprecated tag:v6.8.0 - Will be removed. #}
            {% block sw_settings_search_view_live_search_search_icon_wrapper %}
            <template #sw-simple-search-field-icon>
                {# @deprecated tag:v6.8.0 - Will be removed. #}
                {% block sw_settings_search_view_live_search_search_icon %}
                {% endblock %}
            </template>
            {% endblock %}

        </sw-simple-search-field>

        <mt-select
            v-model="productSortingKey"
            class="sw-settings-search-live-search__sorting-select"
            value-property="key"
            label-property="translated.label"
            :placeholder="$t('sw-settings-search.liveSearchTab.textPlaceholderSorting')"
            :options="productSortings"
            :disabled="!isSearchEnable || undefined"
            @update:model-value="searchOnStorefront"
        />
    </sw-container>
    {% endblock %}

    {% block sw_settings_search_view_live_search_results %}
    <div class="sw-settings-search-live-search__search-results">
        {% block sw_search_bar_results_empty_state %}
        <div
            v-if="searchInProgress"
            class="sw-settings-search-live-search__search-results-loader"
        >
            <mt-loader />
        </div>
        {% endblock %}

        {% block sw_settings_search_view_live_search_results_search_grid %}
        <sw-data-grid
            v-else-if="products && products.length > 0"
            class="sw-settings-search-live-search__grid-result"
            :show-selection="false"
            :show-actions="false"
            :data-source="products"
            :is-loading="searchInProgress"
            :columns="searchColumns"
        >
            {% block sw_settings_search_view_live_search_results_search_grid_columns %}
            {% block sw_settings_search_view_live_search_results_search_grid_name %}
            <template #column-name="{ item }">
                <sw-product-variant-info
                    :variations="item.variation"
                    :show-tooltip="false"
                >
                    <sw-settings-search-live-search-keyword
                        :text="(item.name || item.translated.name)"
                        :search-term="liveSearchTerm"
                    />
                </sw-product-variant-info>
            </template>
            {% endblock %}

            {% block sw_settings_search_view_live_search_results_search_grid_score %}
            <template #column-score="{ item }">
                <span class="sw-settings-search-live-search__grid-result__score">
                    {{ Math.round(parseFloat(item.extensions.search._score)) }}
                </span>
            </template>
            {% endblock %}
            {% endblock %}
        </sw-data-grid>
        {% endblock %}

        {% block sw_settings_search_view_live_search_results_no_result %}
        <mt-empty-state
            v-else
            class="sw-settings-search-live-search__no-result"
            :icon="$route.meta.$module.icon"
            :headline="$t('sw-settings-search.liveSearchTab.textNoResult')"
            :description="$t('sw-settings-search.liveSearchTab.textNoResultDescription')"
        />
        {% endblock %}
    </div>
    {% endblock %}
</mt-card>
{% endblock %}
